
.wrapper{
  position: relative;
  top:200px;
  left: 200px;
  border: 1px #4dabe4 solid;
  padding: 1px;



}
.row{
padding: 0;
font-size: 0;
display: block;

}
.block{
  margin: 1px;
  height: 100px;
  width: 100px;
  display: inline-block;
  background-color: #4dabe4;

}
